body {
  background: #f9f7fe;
  font-family: "Poppins", sans-serif;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

footer {
  text-align: center;
  font-size: 13px;
  color: #888;
  margin-top: 30px;
}

footer a {
  color: #885df1;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}