.Meaning {
  margin-top: 25px;
}

.Meaning h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: lowercase;
  color: #333;
}

.Definition {
  margin-bottom: 12px;
  line-height: 1.6;
}

.Example {
  color: #888;
  font-style: italic;
  margin-top: 5px;
}