.Phonetic {
  display: flex;
  align-items: center;
  gap: 14px;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.Phonetic a {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #885df1;
  border-radius: 24px;
  color: #885df1;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: all 180ms ease-in-out;
}

.Phonetic a:hover {
  background: #885df1;
  color: white;
}

.Phonetic .text {
  color: #8b849f;
  font-size: 20px;
  font-weight: 500;
}